/* reset */

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color-scondary);
    color: black;
}

:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}

/* header */

header {
    background-color: var(--color-header-bg);
    color: white;
}

#hero{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
}

ul {
    list-style: none;
}

li > a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.small-container > h1 {
    font-size: 50px;
}

.sottotitolo {
    font-size: 20px;
}

nav > a {
    color: white;
}

.small-container{
    max-width: 800px;
    margin:0 auto; 
    text-align: center;
}

#access {
    color: black;
    background-color: var(--color-section-bg);

}

#mac-dwnld {
    color: black;
    background-color: var(--color-section-bg);
    font-size: 20px;
    margin: 20px;  
}

#open-disc {
    margin: 20px;
    line-height: 100px;
    color: var(--color-section-bg);
    background-color: black;
    font-size: 20px;   
}




/* main */

.section-bg {
    background-color:var(--color-section-bg);
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:10px;
}

/* utility */

.pills-container {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}





/* utility-flex */

.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
    align-content: center;
}

