/* reset */

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color-scondary);
    color: black;
}

:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}

/* header */

header {
    background-color: var(--color-header-bg);
    color: white;
}

#hero{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
}

ul {
    list-style: none;
}

li > a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.small-container > h1 {
    font-size: 50px;
    padding-bottom: 30px;
}

.sottotitolo {
    font-size: 20px;
}

nav > a {
    color: white;
}

.small-container{
    max-width: 800px;
    margin:0 auto; 
    text-align: center;
    padding-top: 150px;
}

#access {
    color: black;
    background-color: var(--color-section-bg);

}

#mac-dwnld {
    color: black;
    background-color: var(--color-section-bg);
    font-size: 20px;
    margin: 20px;  
}

#open-disc {
    margin: 20px;
    line-height: 100px;
    color: var(--color-section-bg);
    background-color: black;
    font-size: 20px;   
}




/* main */

.section-bg {
    background-color:var(--color-section-bg);
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:10px;
}

.small-title {
    padding-top: 10px;
    font-size: 45px;
}

.right > p {
    font-size: 20px;
    padding-top: 50px;
    font-weight:400;
}

#centered {
    text-align: center;
}

#technology-p {
    font-size: 20px;
    padding-top: 50px;
    font-weight:400;
    text-align: center;
}

#big-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container > h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.stars {
    max-width: 1000px;
    background-image: url("../img/stars.svg");
    background-size: 
}

/* utility */

.pills-container {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.padding-top-15{
    padding-top: 15px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-150 {
    padding-top: 150px;
}







/* utility-flex */

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
    align-content: center;
}

